MONDO_SECRET="replace-with-at-least-32-characters"
MONDO_ISSUER_BASE_URL="https://identity.example.com"
MONDO_BASE_URL="http://localhost:3002"
MONDO_CLIENT_ID="your-client-id"
MONDO_CLIENT_SECRET="your-client-secret"

MONDO_AUDIENCE="https://api.example.com"
MONDO_SCOPE="openid profile email offline_access"
MONDO_COOKIE_SECURE="false"
